<div ng-controller="psiCtrl">

 
	<br> 
	<br>  
	<br> 
	<div class="page-header">
		<h3>Pretraga pasa</h3>
	</div>
	
	<br>
	<div>
		<br>
		<form class="form-inline">
			<div class="form-group">
				<label for="rasa">Rasa psa</label> <input class="form-control"
					ng-model="trazeniPas.rasa" type="text" id="rasa" />
			</div>
			<span>&nbsp&nbsp</span>
			 
				<div class="form-group">
				<label for="azil">Pol psa</label> 
				<select class="form-control"
					ng-model="trazeniPas.pol" id="azil">
					<option  value="{{}}"></option>
					<option  value="Muski">Muski</option>
					<option  value="Zenski">Zenski</option>
				</select>
			</div>
				 
			<span>&nbsp&nbsp</span>
			<div class="form-group">
				<label for="maxStarost">Maksimalna starost</label> <input
					class="form-control" ng-model="trazeniPas.starost" type="number"
					id="maxStarost" />
			</div>
			<span>&nbsp&nbsp</span>
			<div class="form-group">
				<label for="azil">Odaberi azil</label> 
				<select class="form-control"
					ng-model="trazeniPas.azilId" id="azil">
					<option ng-repeat="a in azili" value="{{a.id}}">{{a.ime}}</option>
				</select>
			</div>
			<span>&nbsp&nbsp</span>
			<button class="btn btn-primary" ng-click="filtriranje()">Pretrazi</button>
			<br>
			
		</form>
		<br>
		
	</div>
	<br>

	<div class="btn-group pull-right">
		<button ng-click="changePage(-1)" ng-disabled="pageNum == 0"
			class="btn btn-default">
			<span class="glyphicon glyphicon-menu-left"></span>
		</button>
		<button ng-click="changePage(1)"
			ng-disabled="pageNum == totalPages - 1" class="btn btn-default">
			<span class="glyphicon glyphicon-menu-right"></span>
		</button>
	</div>
	<div>
	<table class="table table-striped table-inverse">
				<thead>
					<tr>
						<th>Pas</th>
						<th></th>
					</tr>
				</thead>
				<tr ng-repeat="p in psi">
					<td>Ime: {{p.ime}} <br>Rasa: {{p.rasa}}<br>Pol: {{p.pol}}<br>Starost: {{p.starost}} godina <br>{{p.azilNaziv}}</td>
					<td><img class="img-rounded" width="230" height="172" src="{{p.slika}}" alt=""></td>
				 
					<td>
					<div class="form-group">
						<button  ng-click="udomi(p.id)" class="btn btn-primary" >Udomi</button>
					</div>
					</td>
					 
				</tr>
			</table>
	</div>
	
 
</div>